# Environnement virtuel
venv/

# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo

# Données brutes (trop lourdes pour Git)
donnees/brutes/
donnees/propres/
donnees/features/

# Modèles sauvegardés
modeles/

# Fichiers système
.DS_Store
*.log
logs_recolte.txt
.vscode/

# Ignorer tout le dossier du rapport et ses figures
rapport/
# Fin du projet
